/* Pseudoselectores */
:root{
    --blanco: #fff; /* Custom properties */
    --oscuro: #00000000;
    --primario: #FFC107;
    --secundario: #0068d6;
    --secundario1: #f18900;
    --rojo:#e71f1f;
    --gris: #757575;
    --fuente-principal:3.8rem;
}

html{
	font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after { 
  box-sizing: inherit;
}
body{
    font-size: 16px; /* 1rem = 10px */
    
    color: #ececec;
    
    background-color:rgb(0, 0, 0);
}
/* edichion de h*/
h1{
    font-size: 3rem;
}
h2{
    text-align: center;
    border-style: solid;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    color:#fdfbfb;
    
}

h3{
    font-size: 1.8rem;
font-family:'Courier New', Courier, monospace;
    color:var(--blanco)

}

h4
{
    text-align: center;
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 6rem;
    color:#fdfbfb;
      
}
@media(min-width: 768px){
h1,h2,h3{
    font-size: 5rem;
    text-align: center;
    padding: 4rem;
}
}
.titulo span{
	font-size: 2rem;
}
/* Globales */
.contenedor{
    max-width: 120rem; /* 120rem = 1200px */
    margin: 0 auto;
}




/* Utilidades */

.header{
    
    background-color: rgb(255, 255, 255);
}


.w-sm-100{
    width: 100%;
}





.titulo{
	text-align: center;
    /* font-size: var(--fuente-principal);  Opcional para tener mayor control al modificar*/
    font-size: 3.8rem;
}
.titulo span{
	font-size: 2rem;
}



/* Navegacion principal */

.nav-link{
    font-size: 4rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#ffffff;
   
}

.container{
    max-width: 140rem; /* 120rem = 1200px */
    margin: 2 auto;
    
}
.navbar{
    
    border-style:;
    display: flex;
    text-align: center;
    flex-direction: column;
    
    /* align-items: center; */
}
.navbar a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 4rem;
    padding: 3rem;
    
}

.navbar a:hover{
    
    text-align: center;
    background-color: var(--blanco);
}

/* Media Query para barra de avegacion*/
@media (min-width: 768px) {
    .navbar{
        flex-direction: row;
        justify-content: space-between;
    }
}  


 /*inicio de azul y ubicacion */
.hero{
    background-image: url(../img/propuesta12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5rem;
    

    /* Agregamos para demostar modelo de caja y quitarlo mas adelante*/
    height: 60rem;
     padding: 0rem; 
    position: relative;
    margin-bottom: 4rem;
}
.contenido-hero{
    position: absolute;
    /*background-color:rgba(0, 0, 0.5);*/
    height:  100%;
    width:100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);
}
.ubicacion{
    align-items: center;
    display: flex;
    align-items: flex-end;
    
}
.botonp
{
    background-color:rgb(0, 0, 0);
    color:#ffffff;
    
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    padding:  2rem;
    margin-top: 3rem;
   
    text-transform: uppercase;
    font-weight: bold;

    text-align: center;
    width: 50%;
     
    border-style:dashed;
    
    
}
}
.boton{
    background-color:rgb(255, 255, 255);
    color: var(--oscuro);
    padding:  2rem;
    margin-top: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    text-align: center;
    width: 50%;
    border: none;
}
.icono1
{
    align-items: center;
}
.boton:hover{
    cursor: pointer;
}



    /* Servicios */
.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54); /* Chrome */
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);/* Firefox*/
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color:#000000;
    padding:2rem;
    border-radius: 5rem;
    border-style: solid;
}

@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }    
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color:var(--);
    border-style: solid;
    border-color:#ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicio h3{
    color: var(--blanco);
    font-weight: bold;
    padding: 2 rem;
    font-size: 3rem;
}
.servicio p{
    padding: 3rem;
    line-height: 2rem;
    font-weight: bold;
    color:#ffffff

}
/* tarjetas*/
.tarjetas{
    
    padding: 10rem;
    align-content: center;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color:#797979;
}
.card{
    background-color: var(--oscuro);
    border-radius: 3rem;
    
}
.card-title{
    color: rgb(255, 255, 255);
    
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}
.img-fluid{
    border-style: solid;
    border-radius: 3rem;
    align-items: center;
}



/*formulario*/
    .formulario{
        background-color: #000000;
        width: min(80rem,100%);
        margin:0 auto;
        padding: 2rem;
        border-style: solid;
        border-radius: 1rem;

    }
    .formulario fieldset{
        border: none;
    }
    .formulario legend{
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 1rem;
        color:var(--blanco)
    
    }
    .contenedor-campos{}

    .campo{
        margin-bottom: 2rem;
    }
    .campo label{
        color: var(--blanco;
        font-weight: bold;
        margin-bottom: 0.5rem;
        display: block;

    }
    .campo .input-text{
        width: 100%;
        border:none;
        padding: 1.2rem;
        border-radius: 0.5rem;

    }
    .campo textarea{
        height: 10rem;
    }
@media(min-width: 768px){
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 10rem 10rem;
        column-gap: 1rem;
    }
}
.campo:nth-child(2){}

.campo:nth-child(3){
    grid-column: 1/3;
}

.campo:nth-child(4){
    grid-column: 1/3;

}

.footer{
    text-align: center;
    font-size: large;
    font-weight: bold;
}
/*barra de buscador*/

.iconosredes{
    padding: 5rem;
    text-align: center;
}